/* You can add global styles to this file, and also import other style files */


/** PrimeNG styles */
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css';


body .ui-table .ui-table-tbody>tr:nth-child(even) {
    background-color: #fff;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
  }
  body .ui-table .ui-table-tbody>tr {
    /* border-top: 1px solid #c8c8c8;  */
    border-bottom: 1px solid #c8c8c8;
  }
  body .ui-table .ui-table-tbody>tr>td {
    vertical-align: middle;
    border: 0 !important;
    height: 50px;;
  }
  body .ui-table .ui-table-thead>tr>th {
    // white-space: nowrap; BGM-654
    background-color: #f3f5fb;
    border: 0 !important;
    border-bottom: 1px solid #c8c8c8 !important;
  }
  
  body .table-filter-row th {
    background-color: #f7f7f7 !important;
  }
  
  body .ui-paginator {
    background-color: #fff;
    border: 0px solid #c8c8c8;
    padding: 0;
    margin-top: 10px;
  }
  
  body .table-filter-row .ui-inputtext {
    border: 1px solid #ced4da;
    font-size: 13px;
  }
  
  body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #24a2b7;
  }
  
  th {
    vertical-align: text-top !important;
  }
  
  input, textarea, select, p-calendar, p-multiselect {
    &.ng-invalid.ng-touched {
      border: 1px solid red;
    }
    & .ui-multiselect {
      border: 1px solid #ced4da;
      
      &:not(.ui-state-disabled):hover {
        border: 1px solid #ced4da;
      }
      & .ui-multiselect-label {
        color: #495057 !important;
      }
    }
  }